* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.product-container {
 
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;  
  border-radius: 25px;
 
}
.product-info {
width:100%;
padding:5%;
display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product-title{
 
   font-size: 1.2rem;
  line-height: 1.5rem;
 text-align: left;
 margin-bottom:0.6rem; 

}
.product-price{
  width:100%;
   font-size: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 font-weight: 800;
  margin-bottom:0.6rem; 
  text-align: left;
 
}
.product-rating {
 
   display: flex; 
}
.product-container img {
  width: 100%;
  object-fit: contain;
  max-height: 200px;

}
.product-container button {
  width:50%;

}
/* add to basket button */
