* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-image {
  width: 100%;
  padding:5% 0 17% 0;
  background-image: url(../../images/e-commerce-platforms.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 69%;
}
.home-image span {
  font-weight: 900;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content:space-around;
  padding:2%;

 }
