* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
/* header logo */
.header a {
  width: 20%;
  color: white;
}
.header-logo {
  display: flex;

  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
}
.header-logo .icon-image {
  font-size: 3rem;
  color: orange;
}
/* //header-search */
.header-search {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-search input {
  width: 95%;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.5%;
}
.header-search .search-icon {
  font-size: 1.5rem;
  border-radius: 25px;
  background-color: orange;
  padding: 0.5%;
}
/* header-navbar */
.header-nav {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}
.header-nav .nav-item {
  line-height: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-nav .nav-item .nav-item-firstline {
  font-weight: 300;
}
.header-nav .nav-item .nav-item-secondline {
  font-weight: 900;
}
.header-nav .nav-item .shopping-basket-icon {
  font-size: 2rem;
}
.header-nav a {
  display: flex;
  align-items: center;
}
/* mobile responsive */
@media only screen and (max-width: 450px) {
  .header-logo p {
    font-size: 1.2rem;
  }
}
