* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.checkoutprod-container {
 
  width: 100%;
  margin: 2rem;
  padding: 2rem;
}
.checkoutprod-info {
  display: flex;
}
.checkoutprod-info img {
  width: 15rem;
}
.checkprod-title {
  margin-left: 1rem;
}

.checkoutprod-container button{
    margin-right: 20rem;
}