*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.checkout-container{
   width:100vw;
   height:90vh;
   display:flex;
 
}
.checkout-items{
  
    width:70vw;
    display:flex;
    flex-direction: column;
}
.checkoutAmount{
    width:30vw;
  
}
.checkout-items h2{
    font-size: xx-large;
    margin:3rem;
   
}