* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* header */
.header {
  border: 2px solid red;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
}
/* header logo */
.header-logo {
  width: 20vw;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo p {
  font-size: 3rem;
  text-align: center;
}
.header-logo .icon-image {
  font-size: 5rem;
  margin-left: 1rem;
}
/* //header-search */
.header-search{
  
    width : 50vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-search input{
height:3rem;
width:48vw;
font-size: 2rem;
border-radius: 25px;;
}
.header-search .search-icon{
    font-size: 2.5rem;
}